langchain==0.3.18
langchain-community==0.3.17
langchain-core==0.3.34
langchain-experimental==0.3.4
langchain-openai==0.2.14
langchain-text-splitters==0.3.6
libclang==18.1.1
lxml==5.3.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
pandas==2.1.4
streamlit==1.41.1

